################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RecordDTO/FileContentIndex
/.vs/ProjectEvaluation
